<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yosua.projectskripsi">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icn_ui"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OlahrgaActivity" />
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".MakanActivity"
                  />
        <activity android:name=".ComplateActivity" />
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".MainActivity"
           />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".RegisterActivity">
            <intent-filter>
                <action android:name=".LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".Firebase.MyNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firesbase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>